* {
    margin: .5rem;
    padding: .5rem; 
    font-size: 1.5rem; 
}

div{
    border: 0.2rem solid black; 
}

.open-modal{
    z-index: 1;
    position: relative;
}

.modal{
    max-width: 33%; 
    margin: auto; 
    display: none;
    z-index: 3;
    position: relative;

    
}

.overlay{
    display: none;
    background-color: rgba(255, 0, 0, .5);
    height: 100vh;
    width: 100vw; 
    margin: 0; 
    z-index: 2;

    position: absolute; 
   
}